* {
    box-sizing: border-box;
}

body {
    margin: 0 20%;
}

.header {
    background-color: #1f2937;
}

.header .top {
    display: flex;
    padding: 16px 0;

    justify-content: space-between;
}

.header .bottom {
    display: flex;
    padding: 64px 0;
    gap: 32px;
}

.bottom .container {
    flex-basis: 50%;
    gap: 10px;
}

#signup {
    max-width: 100px;
}

ul.links {
    margin: 0;
    padding: 0px;

    list-style: none;
    gap: 16px;
}

.container {
    display: flex;
    border: 1px dotted red;
}

.container.column {
    flex-direction: column;
}

.placeholder {
    background-color: grey;
}