* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

.hero,
.footer {
    padding: 24px 20%;
}

/* colors and font styles */
.hero,
.footer {
    color: #e5e7eb;
    background-color: #1f2937;
    font-size: 18px;
}

#signup,
.hero .logo,
.hero .heading,
.action-block {
    color: #f9faf8;
}

.hero .logo {
    font-size: 24px;
}

.hero .heading {
    font-size: 48px;
    font-weight: bolder;
}

.content .heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    color: #1f2937;
    background-color: #e5e7eb;
    font-size: 36px;
}

.quote .text {
    font-style: italic;
}

.quote .author {
    font-size: 24px;
    font-weight: bolder;
}

#signup,
.action-block {
    background-color: #3882F6;
}

/* text alignment */
.content .heading {
    text-align: center;
}

.card p {
    text-align: center;
}

/* size */

.quote {
    padding: 128px 25%;
}

/* content */
.quote {
    gap: 8px;
}

.hero .top {
    display: flex;

    justify-content: space-between;
}

.hero .bottom {
    display: flex;
    padding: 64px 0;
    gap: 32px;
}

.bottom .container {
    flex-basis: 50%;
    gap: 10px;
}

#signup {
    max-width: 100px;
}

ul.links {
    margin: 0;
    padding: 0px;

    list-style: none;
    gap: 16px;
}

.container {
    display: flex;
    border: 1px dotted red;
}

.container.column {
    flex-direction: column;
}

.placeholder {
    width: inherit;
    height: 140px;
    background-color: grey;
}

.content {
    padding: 32px 20%;
    justify-content: center;
    gap: 32px;
}

.content .heading {
    align-self: center;
}

.cards {
    justify-content: space-evenly;
    gap: 16px;
    flex-wrap: wrap;
}

.card {
    width: 140px;
    align-items: center;
}



.quote .author {
    align-self: flex-end;
}

.action-block {
    margin: 32px 15%;
    padding: 32px;
    justify-content: space-evenly;
}

.footer {
    justify-content: center;
}